<div class="tabset">
  <!-- Tab 1 -->
  <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
  <label for="tab1">One Bedroom</label>
  <!-- Tab 2 -->
  <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
  <label for="tab2">Two Bedroom</label>

  <div class="tab-panels">
    <section id="oneBedroom" class="tab-panel">
      <h3>One Bedroom Floorplans</h3>
      <div class="row gallery-2">
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-c.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-c.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-d.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-d.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-d2.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-d2.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-g.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-g.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-j.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-j.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-l.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-l.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-m1.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-m1.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-n.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-n.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-p.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-p.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-p1.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-p1.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-q.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-q.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-r.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-r.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-s.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-s.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-u.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/one-bedroom-apartment-unit-type-u.jpg"></a>
        </div>
      </div>
      <a href="/contact" type="button" class="btn navbar-btn btn-primary">Schedule a tour</a>
    </section>
    <section id="twoBedroom" class="tab-panel">
      <h3>Two Bedroom Floorplans</h3>
      <div class="row gallery-2">
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/two-bedroom-luxury-apartments-layout-a.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/two-bedroom-luxury-apartments-layout-a.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/two-bedroom-luxury-apartment-layout-b.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/two-bedroom-luxury-apartment-layout-b.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/two-bedroom-luxury-apartment-layout-b2.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/two-bedroom-luxury-apartment-layout-b2.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/two-bedroom-luxury-apartment-layout-e.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/two-bedroom-luxury-apartment-layout-e.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/two-bedroom-luxury-apartment-layout-f.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/two-bedroom-luxury-apartment-layout-f.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/two-bedroom-luxury-apartment-layout-h2.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/two-bedroom-luxury-apartment-layout-h2.jpg"></a>
        </div>
        <div class="col-md-3 col-xs-6">
          <a href="{{ site.baseurl }}/img/floorplans/two-bedroom-luxury-apartment-layout-k3.jpg" class="thumbnail"><img src="{{ site.baseurl }}/img/floorplans/two-bedroom-luxury-apartment-layout-k3.jpg"></a>
        </div>
      </div>
      <a href="/contact" type="button" class="btn navbar-btn btn-primary">Schedule a tour</a>
    </section>
  </div>
</div>
