<div id="slider" class="slider">
  <div class="wrapper">
    <div id="slides" class="slides">
      <span class="slide">
        <h3>Wonderful place to live!</h3>
        <p>
          We have lived at Hobart Crossing since 2017 and would not consider living anywhere else. The buildings are immaculate and incredibly maintained. Our unit is incredibly quiet, and we never hear our neighbors. The manger is wonderful and maintenance requests (which are few) are handled promptly and efficiently. The units are incredibly efficient for heat and air conditioning. The location is easy access to pretty much everything. We LOVE it here.
        </p>
      </span>
      <span class="slide">
        <h3>Worth the Price!</h3>
        <p>
          These apartments are immaculate! If you are looking for a quiet, luxury apartment these are the perfect fit for you! We absolutely love our one bedroom 3rd floor unit, and the layout makes the 800 sq ft feel much larger. Our hall is very quiet, and the units are built very well so sound does not carry. The people are very friendly, and quiet as well making this a GREAT place to live. Also, Betsy is fantastic!
        </p>
      </span>
      <span class="slide">
        <h3>Love my apartment</h3>
        <p>
          I have lived at Hobart Crossing for a year and a half. It is my first apartment and it feels like a home. I can host my children, family and friends comfortably. The kitchen island is perfect for food prep, eating and I even use it to lay out my sewing! The pool is wonderful in the summer. I have met some good friends and recommend Hobart Crossing.
        </p>
      </span>
    </div>
  </div>
  <a id="prev" class="control prev"></a>
  <a id="next" class="control next"></a>
</div>
